# vim swap
.swp

# latex-compilation byproducts
*.aux
*.fdb_latexmk
*.log
*.toc
*.fls
*.synctex.gz\
*.bbl
*.out
*.bcf

# metanome binaries
performance/
presentation/
MLFD_fd_detection/
imputer_model/

# python stuff
__pycache__/
.ipynb_checkpoints/
*.pyc

# cluster docker-stuff
cluster/
