# vim swap
.swp

# latex-compilation byproducts
*.aux
*.fdb_latexmk
*.log
*.toc
*.fls
*.synctex.gz\
*.bbl
*.out
*.bcf

# Thesis presentation
presentation/

# Model storage
##autogluon
agModels-predictClass/
AutogluonModels/

## computer.py results
figures/results/*

## datawig
imputer_model/

# metanome binaries
MLFD_fd_detection/

# python stuff
__pycache__/
.ipynb_checkpoints/
*.pyc

# cluster docker-stuff
cluster/
.env
